/*Titulo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Creepster&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Montaga&family=Oswald:wght@200..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Slabo+27px&display=swap');
/*Letras*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bungee&family=Creepster&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Montaga&family=Oswald:wght@200..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Slabo+27px&display=swap');


/*Fondo de la pagina*/
body{
    margin: 0;
    background-color: rgb(2, 19, 252);
}
/*Dividimos el formulario con la imagen */
.RegistroCon{
    display: flex; 
    width: 100vw;
    height: 100vh;
}
/*Centramos el formulario en la mitad y le agregamos un color encima */
.RegistroForm{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd ;
}

/*Logramos darle una forma de tarjeta al ancho al formulario y un rgb a la tarjeta*/
.RegistroF{
    width: 350px;
    padding: 40px 55px;
    border-radius: 15px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623) ;
}
/*Le Damos color y vida al titulo */
.RegistroF h1{
    text-align: center;
    color:#eb0c0c ;
    margin-bottom:30px ;
    font-family: "Bebas Neue", sans-serif;
}

/*Con esto organizamos el formulario  damos espacios y direccion de las casillas*/
.Form{
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
}

/*Le damos diseño a los labels, tipografia , color*/
.Form label {
    margin-bottom: 10px;
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
}

/*Tamaños colores a las casillas del formulario*/
.Form input,
.Form select{
    padding: 10px 15px;
    border-radius: 20px;
    border: 0.5px solid #f73333a2;
    outline: none;
    transition: all 0.3s ease;
}

/*Agregamos un sutil color al pasar el mause encima de los input y select*/
.Form input:focus,
.Form select:focus{
    border-color: rgba(0, 0, 255, 0.747);
    box-shadow: 0 0 5px rgba(55, 0, 255, 0.829) ;
}

/*Diseño al boton Colores, puntero */
button{
    width: 100%;
    padding: 10px ;
    background-color: #ff0000c9;
    color: white;
    border: none;
    border-radius:20px ;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    letter-spacing: 1px;
}
/*Cambio de color */
button:hover{
    background-color: rgba(0, 0, 255, 0.822);
    transform: translateY(-2px);
}

/*Arreglamos un poco la imagen*/
.RegistroImg{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff ;
}
.RegistroImg img{
    width: 70%;
    height: 70%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(255, 1, 1, 0.1);
}

  
